new_window pixel 1
focus_follows_mouse no
focus_wrapping no
default_border pixel 2
new_float normal
font pango:DejaVu Sans Mono 8
workspace_auto_back_and_forth no
floating_modifier $mod
# title_align center
# floating_minimum_size 1000 x 1000

workspace 1 output DisplayPort-1
workspace 2 output DisplayPort-0
workspace 3 output DisplayPort-0
