# Open specific applications in floating mode
for_window [class="Clipgrab"] floating enable
for_window [title="i3_help"] floating enable sticky enable border normal
for_window [class="Lightdm-gtk-greeter-settings"] floating enable
for_window [class="Lxappearance"] floating enable sticky enable border normal
for_window [title="MuseScore: Play Panel"] floating enable
for_window [title="About Pale Moon"] floating enable
for_window [class="Pamac-manager"] floating enable
for_window [class="Pavucontrol"] floating enable
for_window [title="Discord"] move window to workspace 3
for_window [title="Discord Updater"] floating disable
for_window [instance="floating_alacritty"] floating enable, resize set 1000 1000, focused true
for_window [title="Spotify"] resize set 900 800

# for_window [instance="float$"] floating enable
# for_window [instance="float$"] resize set 825 400 
# for_window [instance="float$"] move position center
# for_window [instance="float$"] move scratchpad
