# Basic bar configuration using the Base16 variables.
bar {
  # status_command i3status
  status_command i3status-rs ~/.config/i3/status.toml
  position top
  tray_output primary
  tray_padding 0
  font pango:DejaVu Sans Mono 8
  separator_symbol " | "

  colors {
    # background $base00
    background #282828
    separator  $base0F
    statusline $base04

    # State             Border  BG      Text
    focused_workspace   $base05 $base0D $base00
    active_workspace    $base05 $base03 $base00
    inactive_workspace  $base03 $base01 $base05
    urgent_workspace    $base08 $base08 $base00
    binding_mode        $base00 $base0A $base00
  }
}
