/*

!.git*
!LICENSE.md
!README.md

!kube/
!omz
!nvim/
!nvimpager/

!alacritty/
!git/
!gpg/
!gtk-3.0/
!helm/
!highlight/
!pgcli/
!ranger/
!scripts/
!spotify-tui/
!spotifyd/
!sway/
!swaync/
!tmux/
!rofi/
!zsh/

!mimeapps.list
!npm.conf
!pgpass.list

pgcli/history
pgcli/log
spotify-tui/*.json
spotify-tui/client.yml
