[submodule "nvim"]
	path = nvim
	url = https://github.com/bakewellcake/vimrc
[submodule "zsh/omz"]
	path = zsh/omz
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "zsh/plugins/fast-syntax-highlighting"]
	path = zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
