/*

!.git*
!LICENSE.md
!README.md

!alacritty/
!git/
!helm/
!highlight/
!kube/
!pgcli/
!ranger/
!nvim/
!nvimpager/
!omz/
!scripts/
!spotify-tui/
!spotifyd/
!ssh/
!sway/
!swaync/
!tmux/
!rofi/
!zsh/

!gnupg/gpg-agent.conf
!gtk-3.0/settings.ini
!mimeapps.list
!npm.conf
!pgpass.list

pgcli/history
pgcli/log
spotify-tui/*.json
spotify-tui/client.yml
