.gitattributes !filter !diff

# Root configs
pgpass.list filter=git-crypt diff=git-crypt
npm.conf filter=git-crypt diff=git-crypt

# Namespaced configs
scripts/bw filter=git-crypt diff=git-crypt
scripts/pwgen filter=git-crypt diff=git-crypt
git/config filter=git-crypt diff=git-crypt
# gnupg/gpg-agent.conf filter=git-crypt diff=git-crypt

# Namespaced encryption
ssh/* filter=git-crypt diff=git-crypt
