[submodule "nvim"]
	path = nvim
	url = git@github.com:bakewellcake/vimrc
	branch = master
[submodule "kube"]
	path = kube
	url = git@github.com:marziply/kube
	branch = master
[submodule "zsh/plugins/alias-tips"]
	path = zsh/plugins/alias-tips
	url = git@github.com:djui/alias-tips
	branch = master
[submodule "zsh/plugins/fzf-marks"]
	path = zsh/plugins/fzf-marks
	url = git@github.com:urbainvaes/fzf-marks
	branch = master
[submodule "zsh/plugins/zsh-autopair"]
	path = zsh/plugins/zsh-autopair
	url = git@github.com:hlissner/zsh-autopair
	branch = master
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm
[submodule "omz"]
	path = omz
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "zsh/plugins/F-Sy-H"]
	path = zsh/plugins/F-Sy-H
	url = https://github.com/z-shell/F-Sy-H
