/*

!alacritty/
!cargo
!clangd/
!git/
!gtk-3.0/
!gtklock/
!gnupg/
!highlight/
!pgcli/
!ranger/
!nvim/
!nvimpager/
!scripts/
!ssh/
!sway/
!swaync/
!tmux/
!rofi/
!zsh/

cargo/*
gnupg/*
gtk-3.0/*
pgcli/*
tmux/*

!cargo/config.toml
!gnupg/gpg-agent.conf
!gtk-3.0/settings.ini
!pgcli/config
!tmux/tmux.conf

!mimeapps.list
!npm.conf
!pgpass.list

!LICENSE.md
!README.md
